<script src="https://giscus.app/client.js" data-repo="seobaeksol/seobaeksol.github.io" data-repo-id="R_kgDOOhg6AA"
  data-category="General" data-category-id="DIC_kwDOOhg6AM4CplKm" data-mapping="pathname" data-strict="0"
  data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom" data-theme="transparent_dark"
  data-lang="{{ .Site.Language.Lang }}" crossorigin="anonymous" async></script>

<script>
  function setGiscusTheme() {
    const theme = document.body.classList.contains("dark")
      ? "transparent_dark"
      : "light";
    const iframe = document.querySelector("iframe.giscus-frame");
    if (iframe) {
      iframe.contentWindow.postMessage(
        {
          giscus: {
            setConfig: {
              theme: theme,
            },
          },
        },
        "https://giscus.app"
      );
    }
  }

  // 페이지 로드 시 한 번 실행
  window.addEventListener("load", setGiscusTheme);

  // PaperMod 테마 토글 감지 (버튼 클릭 후)
  const observer = new MutationObserver(() => {
    setGiscusTheme();
  });
  observer.observe(document.body, { attributes: true, attributeFilter: ['class'] });

</script>